/* Basic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main ul li {
    display: inline-block;
    background: #000;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    width: 100px;
    border-top: 5px solid yellow;
}
.main ul li .title{
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    top: -20px;
}